{% extends 'home.html.twig' %}

{% block body %}
    <div class="welcomeTeaser">
        <div class="welcomeTeaser after"></div>

        <div class="welcomeTeaser-container">
            <div class="welcomeTeaser-inner">
                <div class="welcomeTeaser__description wow fadeInLeft">
                    <div class="welcomeTeaser__description-headline">
                        <h1>Elektronisches Klassenbuch</h1>
                    </div>
                    <div class="welcomeTeaser__description-text">
                        <p>
                            Verwalte deine Fehlstunden und Einträge in deinem persönlichen Klassenbuch.
                        </p>
                    </div>
                </div>
                <div class="welcomeTeaser__form wow fadeInDown">
                    <div class="welcomeTeaser__form-jumbotron">
                        <div class="welcomeTeaser__form-content">
                            <form method="post">
                                <div class="form-group">
                                    <label for="username">Benutzername</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           placeholder="Dein Benutzername">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                           placeholder="Deine Email-Adresse">
                                </div>
                                <div class="form-group">
                                    <label for="passwort">Passwort</label>
                                    <input type="password" class="form-control" id="passwort" name="passwort"
                                           placeholder="Dein Passwort">
                                </div>

                                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Einloggen"
                                       name="login" id="login">
                                <span class="welcomeTeaser__form-content--submit-span">oder</span>
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Registrieren"
                                       name="registrieren" id="registrieren">
                            </form>
                        </div>
                        <div class="welcomeTeaser__form-footer">
                            Durch das Klicken von <q>Registrieren</q>, bestätigst Du unsere <a
                                    href="#">Datenschutzbestimmungen</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="main-section" id="team">
        <div class="team">
            <div class="team__headline">
                <h2 class="team__headline--font">Team</h2>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-6 col-xs-12">
                    <div class="team__profile wow fadeInLeft">
                        <div class="team__profile__photo">
                            <img src="{{ asset('img/profiles/anheier_profile.jpg') }}" class="rounded-circle" alt="profile-image">
                        </div>
                        <div class="team__profile__description">
                            <div class="team__profile__description--headline-border">
                                <div class="team__profile__description--headline">
                                    <h4>Til Anheier (Frontend- & Backend-Entwickler)</h4>
                                </div>
                            </div>
                            <div class="team__profile__description--content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-xs-12">
                    <div class="team__profile right wow fadeInRight">
                        <div class="team__profile__photo">
                            <img src="https://dummyimage.com/250x250/e0e0e0/0011ff" class="rounded-circle" alt="profile-image">
                        </div>
                        <div class="team__profile__description">
                            <div class="team__profile__description--headline-border">
                                <div class="team__profile__description--headline">
                                    <h4>Mike Bernhardt (Security Guard)</h4>
                                </div>
                            </div>
                            <div class="team__profile__description--content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-6 col-xs-12">
                    <div class="team__profile wow fadeInLeft">
                        <div class="team__profile__photo">
                            <img src="https://dummyimage.com/250x250/e0e0e0/0011ff" class="rounded-circle" alt="profile-image">
                        </div>
                        <div class="team__profile__description">
                            <div class="team__profile__description--headline-border">
                                <div class="team__profile__description--headline">
                                    <h4>Deniz Inam (Security Guard)</h4>
                                </div>
                            </div>
                            <div class="team__profile__description--content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-xs-12">
                    <div class="team__profile right wow fadeInRight">
                        <div class="team__profile__photo">
                            <img src="https://dummyimage.com/250x250/e0e0e0/0011ff" class="rounded-circle" alt="profile-image">
                        </div>
                        <div class="team__profile__description">
                            <div class="team__profile__description--headline-border">
                                <div class="team__profile__description--headline">
                                    <h4>Alexander Düster (Frontend- & Backend-Entwickler)</h4>
                                </div>
                            </div>
                            <div class="team__profile__description--content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}