@import "../01-variables/_base";

html, body {
    height: $height;
    margin: 0;
}

.welcomeTeaser {
    overflow: hidden;
    height: $height;
    width: $width;
    min-height: $min-height;
    background-size: cover;
    background-image: url("../img/background.jpg");
    background-position: 100% 70%;
    box-shadow: 0px 2px 2px $boxShadow;

    @media (max-width: 768px) {
        height: auto;
    }

    &.after {
        position: absolute;
        opacity: 0.6;
        background: $darkGrey;
    }

    &-container {
        @extend .container;

        @media (max-width: 768px) {
            padding: 0 !important;
        }
    }

    &-inner {
        margin-top: 15%;
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 120px;
        @extend .row;
    }

    &__description {
        color: $white;
        text-shadow: 0 1px 3px $textShadow;
        @extend .col-md-6;

        &-headline > h1 {
            margin-right: 10px;
            margin-bottom: 20px;

            @media (min-width: 560px) {
                font-size: $wrapperHeadline;
            }
        }

        &-text > p {
            font-size: $wrapperContent;
        }
    }

    &__form {
        font-size: $formContent;
        @extend .col-md-6;

        &-jumbotron {
            margin-left: 60px;
            @extend .jumbotron;
        }

        &-content {
            font-size: 16px;

            &--submit-span {
                text-align: center;
                display: block;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        &-footer {
            margin-top: 10px;
            color: $grey;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}