{% extends 'base.html.twig' %}

{% block body %}
    <button type="button" class="fab fab__button fab__button--box-shadow fab__button--align-center" tabindex="0" aria-label="add">
        <span class="fab__inner add-icon">
            <i class="fa fa-plus"></i>
        </span>
    </button>
{% endblock %}