{% extends 'base.html.twig' %}

{% block body %}
    <section class="infoBox">
        <div class="infoBox__headline">
            <h5 class="infoBox__headline--center">Stundenplan <span class="text-right">KW 10</span></h5>
        </div>
        <div class="infoBox__description">
            <p>

            </p>
        </div>
    </section>
{% endblock %}